.profile {
  max-width: calc(100% - 200px * 2);
  min-height: 120px;
  margin: 0 auto 51px;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .profile {
    max-width: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 780px) {
  .profile {
    max-width: calc(100% - 20px * 2);
  }
}

@media screen and (max-width: 680px) {
  .profile {
    margin-bottom: 36px;
    flex-direction: column;
  }
}
