.profile__avatar-cover {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-image: url(../../../images/avatar_edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 4;
  transition: 0.9s;
}

.profile__avatar-cover:hover {
  opacity: 1;
}